/* selecter{
     property:value;
     )*/

p {
     color: rgb(212, 40, 97);
}

h1 {
     background-color: aquamarine;
}

#text {
     font-style: italic;
     font-family: 'times new roman', times, serif;
     font-weight: bold;
     font-size: 10px;
     text-decoration: underline;

}

.link {
     color: blue;
     text-decoration: none;
}

* {
     background-color: black;
}